# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

# Cypress Test Output
/cypress/videos/
/cypress/screenshots/

# WebStorm (IDE Settings)
.idea/
*.iml
# Editor-specific files
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# TypeScript Build Info
*.tsbuildinfo